<!DOCTYPE html>
<html>
  <head>
    <title>AmortizationSchedule</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class = "container-fluid">
<<<<<<< HEAD
      <%= render partial: "shared/navbar" %>
=======
      <%= render partial: "layouts/navbar" %>
>>>>>>> b4be61b0148bdb2901ddfe4f8578c9840eb76389
      <div class = "flash">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
